{% extends "base.html" %}

{% block page_title %}{{ feed.page_title|truncate(64) }}{% endblock %}

{% block content_subtitle %}
<p class="lead text-truncate">{{ feed.page_title }}</p>

<p>
    <a
        href="{{ url_for('index') }}"
        class="link-underline link-underline-opacity-0 link-underline-opacity-100-hover">
        <i class="bi bi-arrow-left"></i>
        Get back
    </a>
</p>
{% endblock %}

{% block content %}
<div class="row row-gap-4">

{% if not feed.has_required_selectors() %}
    <div class="col-12">
        <div class="alert alert-danger">
            <p class="lead">
                <i class="bi bi-exclamation-diamond"></i>
                This feed is incorrectly configured.
            </p>
            Please setup the content selectors manually.
        </div>
    </div>
{% endif %}

    <div class="col-12">
        <div class="col input-group">
            <span class="input-group-text">
                <i class="bi bi-rss"></i>&nbsp;Feed URL
            </span>
            <input
                type="text"
                class="form-control form-control-lg"
                value="{{ url_for('feed_xml', id=feed.id, _external=True) }}"
                {% if not feed.has_required_selectors() %}
                    disabled
                {% endif %}
                onfocus="this.select()">
        </div>
    </div>

    <div class="col-12 mt-4">
        <feed-selector-form
            action="{{ url_for('feed_settings', id=feed.id) }}"
            feed-url="{{ url_for('feed_proxy', id=feed.id, path=feed.url_path()) }}"
            {% if feed.article_selector %}article="{{ feed.article_selector }}"{% endif %}
            {% if feed.link_selector %}link="{{ feed.link_selector }}"{% endif %}
            {% if feed.article_selector %}title="{{ feed.title_selector|default('') }}"{% endif %}
            {% if feed.date_selector %}date="{{ feed.date_selector }}"{% endif %}
            {% if feed.author_selector %}author="{{ feed.author_selector }}"{% endif %}
            {% if feed.summary_selector %}summary="{{ feed.summary_selector }}"{% endif %}>
        </feed-selector-form>
    </div>
</div>
{% endblock %}